
.site-container3{padding-top: 80px}
#messagebox{
	width: 50%;
	margin: 25px 750px 50px} 

.contactus{
	background-color: #b285ff
}

.mapouter{
	width: 60%;
	margin: 10px auto;
	border:solid lightgrey;
	border-radius: 5px
}




div#popupcontact{
	
	

	
}


form{
	max-width: 300px;

	padding: 10px 50px;
	border: 3px solid grey;
	border-radius: 15px;
	background-color: white;

}



.mypopup textarea, #name,
input[type=email]{
	width: 82%;
	padding: 10px;
	margin-top: 30px;
	border: 2px solid grey;
	padding-left: 40px;

}
.contactuspop{
	background-color: #b285ff;
	
border-top-left-radius: 10px ;
border-top-right-radius: 10px;
margin:-12px -52px;
padding: 20px}

#name{
	background-image: url(img/nameicon.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 2px 3px;
}

#email{background-image: url(img/emailicon.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 2px 3px;}

#msg{background-image: url(img/messageicon.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 2px 3px;
    width: 245px;
    height: 100px;
    font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
    margin-bottom: 30px; }

#submit{color: black;
	font-size: 20px;
 display: block;
 text-align: center;
 background-color: #b285ff;
 padding: 15px ;
 margin: -12px -52px;
 font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
 font-weight: bold;
 cursor: pointer;
 border-bottom-right-radius: 10px;
 border-bottom-left-radius: 10px;	}

 #submit:hover{background-color:lightblue }