.title{font-size: 100px;
	color:white;
	}


.media-container{
	max-width: 100%;
	margin: auto auto;
	padding: 0 20%;
}

.media-header{
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #b285ff;
	margin-bottom: 2%

}



.slide1{width: 550px;
height: 450px}

.slide{
	position: relative;
	width: 100%;
	
}

.cycle-prev{
	position: absolute;
	right: 69%;
    top: 40%;
    opacity:0;
    z-index: 200;
    transition: opacity .5s;
    cursor: pointer;
}

.cycle-next{
	position: absolute;
	left: 69%;
	 top: 40%;
	 opacity: 0;
	 z-index: 200;
	 transition: opacity .5s;
	 cursor: pointer;

}

.cycle-slideshow:hover .cycle-prev,
.cycle-slideshow:hover .cycle-next,
.cycle-slideshow:hover .cycle-pager span{
	opacity: 1;
}

/*cycle-pager*/

.cycle-pager{
	position: absolute;
	bottom: 20px;
	z-index: 300;


}
.cycle-pager span {
	text-indent: -9999px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 50%;
	margin: 1px 3px;
	cursor: pointer;
	opacity: 0;
	transition: opacity .5s
	

}
.cycle-pager .cycle-pager-active{
	background-color: grey;

}


/*photo Gallery 1*/
.pht1{
	font-size: 70px;
	color:purple;
	margin: 50px 0
}

.photo-gallery-1{
	width: 80%;
	height:100%;
	margin-left: 130px;

}

.thumbnails img{
	width: 20%;
	padding: 10px 10px;
	transition: all.10s ease-in-out;

}

.thumbnails:hover img{
	opacity: .5;
	transform: scale(.9);	
	transition: all.10s ease-in-out;

}

.thumbnails img:hover{
	opacity: 1;
	transform: scale(1.1);
	transform: scale(1) rotate(10deg);
	box-shadow: 0 0 10px rgba(172, 82, 250, 1)
;
}


/*videos*/


.watch video{
	width: 80%;
	height:100%;
	border-radius: 20px;
	
}


/*audio*/

.audio1{
	width: 50%
}
.imgmp3{
	border-radius:20px 20px 0 0 ;

}
/*photo gallery 2 */

.Photo-thumbnails img{
	height: 50px;
	border-bottom: 4px solid #5e3480;
	padding: 1px;
	margin: 0 10px 10px 0;
}

.Photo-thumbnails img:hover{
	border:4px solid purple;
	cursor: pointer;

}

.preview img{
	border:4px solid purple;
	padding: 1px;
	width: 80%;
	margin-bottom: 50px

}

/*Stripes*/

.astr{
	color: blue
}

.str li{
	list-style-type: none;
	display: inline-block;
	margin-bottom: 30px;
}

.str a{
	width: 50px;
	height: 50px;
	background-image: url(img/stripe.png);
	color: black;
	text-indent: -9999px;
	display: block;
	background-repeat: no-repeat;
}

.chat a{
	background-position: 0 -50px;
}
.mail a{
	background-position: 0 -100px;
}
.phone a{
	background-position: 0 -150px;
}

.chat:hover a{
	background-position: -50px -50px;
}
.mail:hover a{
	background-position: -50px -100px;
}
.phone:hover a{
	background-position: -50px -150px;
}
.home:hover a{
	background-position: -50px 0px;
}

}